<div class="wrap-menuLeft">
    <a class="dashboard" href="/">Dashboard</a>
    <div class="accordion-menu crollbar">
        <h4 class="module-ThamDinhHoSo">Tiếp nhận hồ sơ</h4>  
        <ul >
            <li><a href="javascript:void(0)" data-link="../sad/phieu-yeu-cau.aspx">Phiếu yêu cầu</a></li>
            <li><a href="javascript:void(0)" data-link="../sad/phieu-thu.aspx">Thu tiền tạm ứng</a></li>
            <li><a href="javascript:void(0)" data-link="../sad/Khai-bao-tai-san.aspx">Khai báo tài sản</a></li>             
        </ul>
        <h4 class="module-ThamDinhNoiBo">Thẩm định Nội bộ</h4>
        <ul >
            <li><a href="javascript:void(0)" data-link="../sad/chuyen-giao-ho-so.aspx">Giao hồ sơ</a></li> 
            <li><a href="https://test.dulieunhadat.vn/Admin" target="_blank">Thẩm định tài sản</a></li>            
            <li><a href="javascript:void(0)" data-link="../sad/ket-qua-tham-dinh.aspx">Kết quả thẩm định </a></li>             
            <li><a href="javascript:void(0)" data-link="../sad/gui-mail-cho-khach.aspx">Gửi mail cho khách hàng</a></li>
            <li><a href="javascript:void(0)" data-link="../sad/in-chung-thu.aspx">In chứng thư</a></li>
            <li><a href="javascript:void(0)" data-link="../sad/Phieu-thu-tien-tham-dinh.aspx">Thu tiền thẩm định</a></li>
            <li><a href="javascript:void(0)" data-link="../sad/Khai-bao-tai-san.aspx">Khiếu nại giá</a></li> 
            <li><a href="javascript:void(0)" data-link="../sad/bang-gia-ngan-hang.aspx">Bảng giá đã kiểm duyệt</a></li>             
            <li><a href="javascript:void(0)" data-link="../sad/du-lieu-tu-dong.aspx">Dữ liệu tự động </a></li>
            <li><a href="javascript:void(0)" data-link="../sad/du-lieu-nhap-tay.aspx">Dữ liệu nhập tay </a></li>
        </ul>
        <h4 class="module-ThamDinhDocLap">Thẩm định công ty độc lập</h4>
        <ul >
            <li><a href="javascript:void(0)" data-link="../sad/tham-dinh-ho-so.aspx">Thẩm định tài sản</a></li>            
            <li><a href="javascript:void(0)" data-link="../sad/ket-qua-tham-dinh.aspx">Kết quả thẩm định </a></li>             
            <li><a href="javascript:void(0)" data-link="../sad/gui-mail-cho-khach.aspx">Gửi mail cho khách hàng</a></li>
            <li><a href="javascript:void(0)" data-link="../sad/in-chung-thu.aspx">In chứng thư</a></li>
            <li><a href="javascript:void(0)" data-link="../sad/phieu-thu.aspx">Đề nghị thanh toán</a></li>
            <li><a href="javascript:void(0)" data-link="../sad/Khai-bao-tai-san.aspx">Khiếu nại giá</a></li> 
        </ul>         
        <h4 class="module-CongCuHoTro">Công cụ hỗ trợ</h4>
            <ul >
            <li><a href="https://test.dulieunhadat.vn/Admin/RealEstate/Create" target="_blank" >Checkin vị trí</a></li>
            <li><a href="https://test.dinhgianhadat.vn/ban-do-quy-hoach" target="_blank" >Xem quy hoạch</a></li>
            <li><a href="https://test.dinhgianhadat.vn/nhap-lieu-tu-dong-tu-giay-to" target="_blank" >Nhập liệu tự động từ giấy tờ</a></li>
            <li><a href="https://test.dinhgianhadat.vn/thu-thap-bat-dong-san-tu-dong" target="_blank" >Thu thập dữ liệu tự động</a></li>
            </ul>
        <h4 class="module-DanhGiaKPIs">Đánh giá KPIs</h4>
            <ul >
            <li><a href="javascript:void(0)" data-link="">Đợt đánh giá</a></li>
            <li><a href="javascript:void(0)" data-link="">Thang điểm</a></li>
            <li><a href="javascript:void(0)" data-link="">Máy tính đánh giá</a></li>
            <li><a href="javascript:void(0)" data-link="">Nhân viên tự đánh giá</a></li>
            <li><a href="javascript:void(0)" data-link="">Cấp trên đánh giá</a></li>
            <li><a href="javascript:void(0)" data-link="">Phiếu chấm điểm</a></li>
            <li><a href="javascript:void(0)" data-link="">Kết quả đánh giá</a></li>
            </ul>
    <h4 class="module-HauKiemSLA">Hậu kiểm SLA</h4>
            <ul >
            <li><a href="javascript:void(0)" data-link="">Đợt kiểm tra</a></li>
            <li><a href="javascript:void(0)" data-link="">Đánh giá hồ sơ</a></li>
            <li><a href="javascript:void(0)" data-link="">Kết quả kiểm tra</a></li>
        </ul>
    <h4 class="module-BaoCao">Báo cáo</h4> 
        <ul >
            <li><a href="javascript:void(0)" data-link="">Trạng thái tổng hồ sơ nhận</a></li>
            <li><a href="javascript:void(0)" data-link="">Trạng thái Hồ sơ cần bổ sung</a></li>
            <li><a href="javascript:void(0)" data-link="">Trạng thái Hồ sơ đang xử lý</a></li>
            <li><a href="javascript:void(0)" data-link="">Trạng thái Hồ sơ đang thẩm định</a></li>
            <li><a href="javascript:void(0)" data-link="">Trạng thái Hồ sơ hoàn thành</a></li>
            <li><a href="javascript:void(0)" data-link="../sad/thong-ke-hs-theo-ngay.aspx">Thống kê hồ sơ theo ngày</a></li>
            <li><a href="javascript:void(0)" data-link="../sad/thong-ke-hs-theo-thang.aspx">Thống kê hồ sơ theo tháng</a></li>
            <li><a href="javascript:void(0)" data-link="../sad/thong-ke-hs-theo-nam.aspx">Thống kê hồ sơ theo năm</a></li>
        </ul>
        <h4 class="module-TuDienHeThong">Tự điển hệ thống</h4>
        <ul >
            <li><a href="javascript:void(0)" data-link="../sad/quoc-gia.aspx">Danh mục quốc gia</a></li>
            <li><a href="javascript:void(0)" data-link="../sad/tinh-thanh.aspx">Danh mục tỉnh thành</a></li>
            <li><a href="javascript:void(0)" data-link="../sad/quan-huyen.aspx">Danh mục quận huyện</a></li>
            <li><a href="javascript:void(0)" data-link="">Danh mục tuyến đường</a></li>
            <li><a href="javascript:void(0)" data-link="">Danh mục phường xã</a></li>
            <li><a href="javascript:void(0)" data-link="">Danh mục đường</a></li>
            <li><a href="javascript:void(0)" data-link="">Danh sách nhân viên</a></li>
            <li><a href="javascript:void(0)" data-link="">Danh sách phòng ban</a></li>
            <li><a href="javascript:void(0)" data-link="">Danh sách chức vụ</a></li>
            <li><a href="javascript:void(0)" data-link="">Danh mục chi nhánh ngân hàng</a></li>
            <li><a href="javascript:void(0)" data-link="">Danh mục nhóm tiêu chí</a></li>
            <li><a href="javascript:void(0)" data-link="">Danh mục tiêu chí</a></li>
            <li><a href="javascript:void(0)" data-link="">Danh mục thang điểm</a></li>
            <li><a href="javascript:void(0)" data-link="">Danh mục tỉ lệ giá</a></li>
            <li><a href="javascript:void(0)" data-link="">Danh mục tầng lầu</a></li>
            <li><a href="javascript:void(0)" data-link="">Danh mục vị trí</a></li>
            <li><a href="javascript:void(0)" data-link="">Danh mục hướng</a></li>
            <li><a href="javascript:void(0)" data-link="">Danh mục hẻm</a></li>
            <li><a href="javascript:void(0)" data-link="">Danh mục nhóm khách hàng</a></li>
            <li><a href="javascript:void(0)" data-link="">Danh mục khách hàng</a></li>
            <li><a href="javascript:void(0)" data-link="">Tỉ giá đền bù</a></li>
            <li><a href="javascript:void(0)" data-link="">Tiêu chí tìm kiếm</a></li>
            <li><a href="javascript:void(0)" data-link="">Danh mục quy hoạch</a></li>
            <li><a href="javascript:void(0)" data-link="">Danh mục lộ giới</a></li>
            <li><a href="javascript:void(0)" data-link="">Danh mục Công ty thẩm định </a></li>
        </ul>
        <h4 class="module-CauHinhHeThong">Cấu hình hệ thống</h4>   
        <ul >
            <li><a href="javascript:void(0)" data-link="">Tỉ lệ chuyển đổi</a></li>
            <li><a href="javascript:void(0)" data-link="">Cấu hình tiền tệ</a></li>
            <li><a href="javascript:void(0)" data-link="">Qui đổi đơn vị</a></li>
            <li><a href="javascript:void(0)" data-link="">Format số</a></li>
            <li><a href="javascript:void(0)" data-link="">Backup data</a></li>
            <li><a href="javascript:void(0)" data-link="">Ghi log hệ thống</a></li>
            <li><a href="javascript:void(0)" data-link="">Kiểu dữ liệu</a></li>
            <li><a href="javascript:void(0)" data-link="">Cấu hình</a></li>
            <li><a href="javascript:void(0)" data-link="">Ngôn ngữ</a></li>
        </ul>
        <h4 class="module-PhanQuyenHeThong">Phân quyền hệ thống</h4>
        <ul>
            <li><a href="javascript:void(0)" data-link="">Nhóm quản trị viên</a></li>
            <li><a href="javascript:void(0)" data-link="">Quản trị viên</a></li>
            <li><a href="javascript:void(0)" data-link="">Phân quyền nhóm</a></li>
            <li><a href="javascript:void(0)" data-link="">Phân quyền cá nhân</a></li>
        </ul>
        <h4 class="module-LoiHeThong">Lõi hệ thống</h4>
        <ul>
            <li><a href="javascript:void(0)" data-link="">Phân hệ</a></li>
            <li><a href="javascript:void(0)" data-link="">Mô đun</a></li>
            <li><a href="javascript:void(0)" data-link="">Trang</a></li>
            <li><a href="javascript:void(0)" data-link="">Cột</a></li>
            <li><a href="javascript:void(0)" data-link="">Chức năng</a></li>
            <li><a href="javascript:void(0)" data-link="">Chức năng trên trang</a></li>
        </ul>
        <h4 class="module-CapPhepSanPham">Cấp phép sản phẩm</h4>
        <ul>
            <li><a href="javascript:void(0)" data-link="">Gói sản phẩm</a></li>
            <li><a href="javascript:void(0)" data-link="">Mô đun trên gói</a></li>
            <li><a href="javascript:void(0)" data-link="">Giấy phép</a></li>
        </ul>
    </div>
</div>