<div class="title-page">
    <h3>Dashboard</h3>
       <div class="drop-filter">
           <select>
                    <option>Chọn Khu Vực</option>
                    <option>Miền Bắc</option>
                    <option>Miền Trung</option>
                    <option>Miền Nam</option>
                </select>
                <select>
                    <option>Chọn Tỉnh Thành</option>
                    <option>Hà Nội</option>
                    <option>TP.HCM</option>
                    <option>Hải Phòng</option>
                    <option>Đà Nẵng</option>
                    <option>Cần Thơ</option>
                    <option>Nha Trang</option>
                    <option>Huế</option>
                    <option>Hạ Long</option>
                    <option>Vũng Tàu</option>
                </select>
                <select>
                    <option>Chọn Chi Nhánh</option>
                    <option>Hà Nội</option>
                    <option>TP.HCM</option>
                    <option>Hải Phòng</option>
                    <option>Đà Nẵng</option>
                </select>

                <select>
                    <option>Chọn Nhân Viên</option>
                    <option>Huỳnh Thị Thuý Sinh</option>
                    <option>Nguyễn Thị Hồng Hạnh</option>
                    <option>Trần Thị Ánh Tuyết</option>
                    <option>Trần Thị Mỹ Thanh</option>
                    <option>Trần Thị Ngọc Duyên</option>
                    <option>Trần Thị Thanh Bình</option>
                    <option>Trương Thị Thu Thuận</option>
                </select>
        </div>

</div>
<div class="content-page swap-dashboard">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="box">
                <div class="title"><i class="fa fa-home" aria-hidden="true"></i>Chi nhánh Quận 1</div>
                <ul class="unit">
                    <li><label>Mới</label><span>10</span></li>
                    <li><label>Đang xử lý</label><span>20</span></li>
                    <li><label>Bổ sung</label><span>5</span></li>
                    <li><label>Hoàn thành</label><span>50</span></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="box">
                <div class="title"><i class="fa fa-home" aria-hidden="true"></i>Chi nhánh Tân Bình</div>
                <ul class="unit">
                    <li><label>Mới</label><span>5</span></li>
                    <li><label>Đang xử lý</label><span>25</span></li>
                    <li><label>Bổ sung</label><span>10</span></li>
                    <li><label>Hoàn thành</label><span>35</span></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="box">
                <div class="title"><i class="fa fa-home" aria-hidden="true"></i>Chi nhánh Quận 10</div>
                <ul class="unit">
                    <li><label>Mới</label><span>20</span></li>
                    <li><label>Đang xử lý</label><span>30</span></li>
                    <li><label>Bổ sung</label><span>12</span></li>
                    <li><label>Hoàn thành</label><span>70</span></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="box">
                <div class="title"><i class="fa fa-home" aria-hidden="true"></i>Chi nhánh Hóc Môn</div>
                <ul class="unit">
                    <li><label>Mới</label><span>8</span></li>
                    <li><label>Đang xử lý</label><span>29</span></li>
                    <li><label>Bổ sung</label><span>14</span></li>
                    <li><label>Hoàn thành</label><span>39</span></li>
                </ul>
            </div>
        </div>
        
        <div class="col-md-9 col-sm-6 col-xs-12">
            <div class="box">
                <div class="title">
                    <i class="fa fa-calendar" aria-hidden="true"></i>Tổng hồ sơ theo thời gian
                    <div class="wrap-daterange">
                        <input class="daterangepicker-field"/><i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="profile-time"></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="box">
                <div class="title"><i class="fa fa-line-chart" aria-hidden="true"></i>Tổng hồ sơ<div class="sum">1.300<span>Hồ sơ</span></div></div>
                <div id="profile-total"></div>
            </div>
        </div>
    </div>
</div>